.poster-container {
    background-color: #6e1ca4;
    background: url('/static/media/poster.c6e916a7.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
    border-radius:40px;
}

    .poster-container .watch-now-btn {
        background: none;
        border-radius: 40px;
        border: 3px solid #8e58c6;
        color: #fff;
        font-size: 2.2rem;
        padding: 3% 10%;
        cursor: pointer;
    }

.poster-lables-container {
    float: right;
    margin-right: 7%;
    text-align: center;
}