.movie-container-cs {
    padding: 15px;
    font-size: 0.8rem;
    color: #999797;
}

    .movie-container-cs img {
        width: 100%;
        height: 60px;
        object-fit: cover;
        border-radius: 15px;
    }
